
/*--------------------------Responsive Menu------------------------------------*/
@media screen and (max-width:900px){
    .the-multiple-feature-section .feature_the_multiple{
        width: 49%;
    }
}
@media screen and (max-width:768px){
    /*------Slider-------*/
    .main-slider .slide-caption{
        top: 45%;
    }
    .main-slider h2{
        font-size: 25px
    }
    .site-branding{
        width: auto;
    }
    .header-call-to{
        width: auto;
    }
    .logo-center .site-branding{
        position: inherit;
        display: block;
    }
    .logo-center .site-logo{
        position: inherit;
        display: block;
    }
    .header-call-to li{
        margin: 0;
    }
    .icon{
      display: inline-block;
      margin-top: 5px;
   }
    .logo-left .call-to-one,.logo-left .call-to-two{
        float: none;
    }
    
    .main-navigation .sub-menu{
        opacity: 1;
        visibility: inherit;
        z-index: 1;
        width: 100%;
        float: none;
        position: inherit;
        margin: 0;
        display: block;
        transform: translateY(0);
        box-shadow: none;
    }
    .main-navigation ul > li{
        float: none;
        display: block;
    }
    .main-navigation ul > li:hover{
        background-color: #ddd;
    }
    .main-navigation ul ul ul{
        left: 0;
        position: inherit;
    }
    .main-navigation .sub-menu li{
        border-bottom: none;
    }
    .main-navigation a{
        line-height: inherit;
        margin: 0;
        color: #333;
    }
    .main-navigation .sub-menu li a{
        padding: 0.5em 1em;
    }
    .main-navigation ul li.menu-item-has-children > a:after {
        display: none;
    }
    .main-navigation{
        position: relative;
    }
    .main-navigation .menu{
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        border-top: 1px solid #eee;
        z-index: 111;
        background-color: #fff;
        height: 300px;
        overflow-y: scroll;
        box-shadow: 1px 1px 2px #ddd;
        -webkit-transition: 0.5s all ease;
        -moz-transition: 0.5s all ease;
        -ms-transition: 0.5s all ease;
        transition: 0.5s all ease;
    }
    .menu.open{
        left: 0;
        opacity:1;
        visibility:inherit;
        width: 100%;
     }
     /*---------Header Search-----------*/
    .main-navigation{
        padding: 10px 0;
    }
    .icon{
        float: left;
    }
    .header-search .fa{
        display: none;
    }
    .header-search .search-form{
        display:block;
        position: inherit;
        padding: 5px;
        float: right;
        width: 250px;
        background-color: transparent;
        border: none;
    }
    .header_social_search_wrap{
        display: inline-block;
        float: right
    }
    /*--------------Header Search-------------*/

   /*------------Feature Section--------------*/
   .the-multiple-feature-section .feature_the_multiple{
       width: 49%;
       margin-bottom: 20px;
   }
    .content-wrap h2{
        width: 60%;
        padding: 0 20px;
    }
    .content-wrap a{
        width: 39%;
    }
    a.btn.more{
        text-align: center;
    }
    
    /*------Book and appointment--------*/
    .the-multiple-book-and-app{
        background-size: cover;
    }
    .the-multiple-book-and-app .book-and-app-image{
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .book-and-app-image a img{
        display: block;
        margin: 0 auto;
    }
    .the-multiple-book-and-app .content-wrap{
        width: 100%;
        display: block;
    }
    .content-wrap h2{
        display: block;
        padding: 0;
        width: 100%;
    }
    .the-multiple-book-and-app .content-wrap {
        display: block;
        width: 100%;
    }
    .the-multiple-book-and-app .content-wrap .cta-small-title{
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
    .the-multiple-book-and-app .content-wrap .cta-link-small{
        display: block;
        width: 100%;
    }
    .block-poston span{
        display: block;
    }
    .block-poston .posted-on{
        display: block;
        float: none;
    }
    .block-poston > a{
        float: none;
        display: block;
    }
    
    /*------------footer---------------------*/
    .site-footer-info .widget{
        width: 100%;
    }
    .site-footer-info #the-multiple-footer-three,
    .site-footer-info #the-multiple-footer-two,
    .site-footer-info #the-multiple-footer-one,
    .site-footer-info #the-multiple-footer-four{
        width: 48%;
        display: inline-block;
        vertical-align: top;
    }
    .site-footer-info .widget:after{
        content: '';
        display: block;
        clear: both;
    }
    .widget .menu-important-links-container{
        opacity: 1;
        position: inherit;
        visibility: visible;
        display: block;
        transform: translateY(0);
    }
    .widget ul li{
        display: block;
    }
     /*---footer*/
     .site-footer-info .widget{
        padding-right: 0;
    }
    /*---footer*/


    /*------------Inner Page-------------*/
    .nav-links .nav-previous, .nav-links .nav-next{
        margin-bottom: 20px;
    }
    .comment-form-author, .comment-form-email, .comment-form-url{
        width: 100%;
        float: none;
    }

    /*----Widget area---*/
    #secondary-left {
        width: 100%;
        float: none;
    }
    #primary.sidebar-both {
        width: 100%;
        float: none;
        padding-right: 0;
        padding-left: 0;
    }
    #secondary-right {
        width: 100%;
        float: none;
    }
    /*------Sidebar-left----------*/
    #primary.sidebar-left {
        float: none;
        width: 100%;
        padding-left: 0;
    }
    /*-------Sidebar-right---------*/
    #primary.sidebar-right {
        width: 100%;
        padding-right: 0;
        float: none;
    }
    .logo-left .site-branding{
        display: block;
        width: 100%;
        text-align: center;
    }
    .site-branding .site-text{
        display: inline-block;
    }
    .logo-left .call-to-one{
        float: left;
    }
    .logo-left .call-to-two{
        float: right;
    }
/*//////////////////////
////////////////////////
Layouts
/////////////////////////
/////////////////////////*/

     /*---------Navigation Layouts 2----------*/
     .layout-2 .main-navigation {
        width: 100%;
        position: relative;
        z-index: 11;
        background-color: transparent;
        border: none;
        transform: translateY(0);
    }
    .layout-2 .main-navigation a{
        color: #333;
    }
    .layout-2 .team-slide{
        width: 49%;
        margin-bottom: 20px;
        float: none;
        display: inline-block;
    }
    .layout-2 .header-top{
        padding-bottom: 10px;
    }
    .main-navigation{
        padding: 0;
    }
     /*//-------------Navigation Layouts 2------------------*/ 
     /*---------------Navigation Layouts 3-----------------*/
     .layout-3 .main-navigation a{
         color: #333;
         line-height: 30px;
     }
     .site-header.layout-3 > .bt-container{
         display: inline-block;
         width: auto;
         margin-bottom: 0;
     }
     .site-header.layout-3{
         position: relative;
     }
     .site-header.layout-3 .icon{
         margin-top: 0;
     }
     .layout-3 .main-navigation{
         float: right;
        position: static;
        width: 10%;
        margin-top: 5px;
     }
     .layout-3 .main-navigation .bt-container {
        display: inline-block;
    }
     /*//--------------Navigation Layouts 3----------------- */

     /*-------------------Testimonials layout 2--------------*/
    .layout-2 .testimonial-single{
        width: 49%;
    }
    /*//-------------------Testimonials layout 2--------------*/

    /*-------------------Blog Section layout 2--------------*/
    .the-multiple-blog-section.layout-2 .blog-single {
        width: 48.25%;
        margin-bottom: 2%;
    }
    .blog-single .block-poston .posted-on{
        float: left;
    }
    .the-multiple-blog-section.layout-2 .block-poston a{
        float: right;
    }
    
    /*-------------------Testimonials layout 2--------------*/
    .layout-3 .header_social_search_wrap{
        display: none;
    }
    .layout-3 .icon{
        float: right;
    }

}



@media screen and (max-width:640px){
    .header-call-to{
        display: block;
        width: 100%;
        text-align: center;
    }
    .header-call-to li{
        float: none;
        display: inline-block;
        vertical-align: top;
        margin: 0;
        width: 49%;
    }
    .logo-left .call-to-one{
        float: left;
    }
    .logo-left .call-to-two{
        float:right
    }
    .logo-left .site-branding{
        width: 100%;
    }
    .site-text{
        text-align: center;
    }
    .main-slider h2{
        margin-bottom: 10px;
    }
    .slide-desc{
        margin-bottom: 10px;
    }
    /*-------features-------*/
    .the-multiple-feature-section .feature_the_multiple{
        width: 49%;
    }
    .the-multiple-about-section .about-content-wrap, .the-multiple-about-section .about-img{
        width: 100%;
        display: block;
        text-align: center;
    }
    .the-multiple-about-section h2.section-title{
        text-align: center;
    }
    .the-multiple-about-section .about-img img{
        display: block;
        margin: 0 auto;
    }
    /*------Service Section-------*/
    .the-multiple-service-post-section .service-post{
        display: block;
    }
    .service-post .service-icon{
        display: block;
        text-align: center;
    }
    .service-post .service-content{
        display: block;
        text-align: center;
        padding-left: 0
    }
    .the-multiple-service-post-section .post-service-wrapper{
        display: block;
        text-align: center;
        width: 100%;
    }
    .the-multiple-service-post-section::before,.the-multiple-service-post-section::after{
        display: none;
    }
    .the-multiple-service-post-section .post-service-wrapper{
        padding-right: 0;
        margin-bottom: 50px;
    }
    .the-multiple-service-post-section .wrap-law-post-right{
        padding-left: 0;
        display: block;
        width: 100%;
        text-align: center;
    }
    .wrap-law-post-right h1{
        color: #333;
    }
    .wrap-law-post-right p{
        color: #333;
    }
    /*-----------latest news--------------*/
    .the-multiple-latest-news-section .latest-single{
        width: 49%;
    }
    .latest-news-image img{
        width: 100%;
    }
    .site-footer-info #the-multiple-footer-three,
    .site-footer-info #the-multiple-footer-two,
    .site-footer-info #the-multiple-footer-one,
    .site-footer-info #the-multiple-footer-four{
        width: 100%;
        display: block;
    }
    .block-poston span{
        display: block;
    }
    .block-poston .posted-on{
        display:inline-block;
        float: left;
    }
    .block-poston > a{
        float: right;
        display: inline-block;
    }
    .nav-links .nav-next,
    .nav-links .nav-previous{
        float: none;
    }
    .single-post .site-main article.post, .single-post .site-main article.page{
        padding: 0;
        margin: 0;
    }
    .the-multiple-section-faq:before,
    .the-multiple-section-faq::after{
        width: 100%;
        position: absolute;
    }
    .the-multiple-section-faq .left-side,
    .the-multiple-section-faq .right-side{
        float: none;
        width: 100%;
        z-index: 111;
        display: block;
        position: relative;
        padding: 0;
    }
    .right-side h2{
        color: #fff;
    }
    .the-multiple-feature-section.layout-2 .feature_the_multiple{
        margin-bottom: 0;
    }
    .main-slider .caption-center{
        width: 70%;
    }
}



@media  screen and (max-width:540px){
    /*slider*/
    #home-slider .slide-desc{
        display: none;
    }
    a.btn.more{
        padding: 10px;
    }
    /*latest news*/
    .the-multiple-feature-section .feature_the_multiple{
        width: 100%;
    }
    .the-multiple-latest-news-section .latest-single{
        width: 100%;
    }
    .category .site-main article.post, .category .site-main article.page{
        margin-right: 0;
        width: 100%;
        float: none;
    }
    .layout-2 .team-slide{
        width: 100%;
    }
    .layout-2 .testimonial-single{
        width: 100%;
    }
    /*footer*/
    .site-footer-info .widget{
        width: 100%;
        float: none;
    }
    .footer_btm_left{
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }
    .footer_social_icon_front_footer{
        width: 100%;
        float: none;
        text-align: left;
    }
    .footer_social_icon_front_footer a{
        margin-left: 0;
        margin-right: 5px;
    }
}


@media screen and (max-width:414px){
    .site-branding{
        margin-bottom: 20px;
    }
    .main-slider h2{
        font-size: 22px;
    }
    .col{
        width: 100%;
        margin-bottom: 20px;
    }
    .header-search .search-form{
        width: 210px;
    }
    .main-slider .slide-caption{
        width: 50%;
    }
    .main-slider h2{
        font-size: 20px;
    }
    .the-multiple-book-and-app .content-wrap .cta-link-small a{
        display: inline-block !important;
        width: 100% !important;
    }
    .layout-2 .team-slide{
        width: 100%;
    }
    .layout-2 .testimonial-single{
        width: 100%;
    }
    .the-multiple-blog-section.layout-2 .blog-single{
        width: 100%;
    }
    section{
        padding: 50px 0 !important;
    }
    .main-slider .caption-center{
        width: 70%;
    }
    a.btn.more{
        padding: 5px;
    }
    .main-slider .caption-center{
        padding-bottom: 10px;
    }
}
@media screen and (max-width:350px){
    a.btn.more{
        font-size: 14px;
        padding: 8px 15px;
    }
    .call-to-one p, .call-to-two p{
        font-size: 13px;
    }
    .call-to-one a, .call-to-two a{
        font-size: 13px;
    }
    h2.section-title{
        font-size: 30px;
    }
}
@media screen and (max-width:320px){
    .main-slider h2{
        font-size: 18px;
    }
    .page-content .search-form .search-submit{
        width: 100%;
    }
}


/*--------------Responsive--------------*/
@media  screen and (max-width:768px){
    .the-multiple-feature-section.layout-2 .bt-container{
        display: block;
        font-size: 0;
    }
    .layout-2 .feature_the_multiple{
        width: 50%;
        display: inline-block;
        margin-bottom: 0;
    }

    .layout-3 .feature_the_multiple{
        padding: 0;
        width: 100%;
        margin-right: 0%;
        margin-bottom: 3%;
        float: none;
    }

    .the-multiple-blog-section.layout-1 .blog-single{
        width: 49.5%;
        display: inline-block;
        margin-right: 1%;
        margin-bottom: 2%;
    }
    .the-multiple-blog-section.layout-1 .blog-single:nth-child(even){
        margin-right: 0;
    }
}
@media screen and (max-width:414px) {
    .layout-2 .feature_the_multiple{
        width: 100%;
        display: block;
    }
    .the-multiple-blog-section.layout-1 .blog-single{
        width: 100%;
        display: block;
        margin-right: 0%;
    }
    .layout-1 .testimonial-single{
        width: 100%;
    }
    .layout-2 .testimonial-single:hover {
        box-shadow: 2px 2px 5px #666;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    .main-slider .owl-prev,
    .main-slider .owl-next,
    .the-multiple-team-section .owl-prev,
    .the-multiple-team-section .owl-next{
        font-size: 20px;
    }
}