/*
Theme Name: The Multiple
Theme URI: https://buzthemes.com/wordpress_themes/the-multiple-2/
Author: Buzthemes
Author URI: https://buzthemes.com/
Description: The Multiple is a responsive free WordPress theme for Multiprupose. All our options use the WordPress Customizer so you can see every change you make live.The theme is also clean, and SEO optimized and we promise to make best website.the-multiple is fully mobile-responsive so that your website content is sure to look great on any device.It features homepage sliders, carousel team  and service section, feature section, client section  etc.It is a fully widgetized theme with multiple widget areas. Create a beautiful multipurpose website. For Demo https://buzthemes.com/demo/the-multiple
Version: 1.0.7
License: GNU General Public License v2 or laterno
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: left-sidebar,right-sidebar,grid-layout,flexible-header,featured-image-header,featured-images,translation-ready,footer-widgets,custom-menu, featured-images, threaded-comments, translation-ready, portfolio, education, theme-options, translation-ready
Text Domain: the-multiple
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

the-multiple is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/

html {
    font-family: 'Raleway', sans-serif !important;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
    margin: 0;
    overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
    margin: 0;
    padding: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
    margin-bottom: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px !important;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, .8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: royalblue;
}

a:visited {
	color: #fff;
}

a:hover,
a:focus,
a:active {
	color: #fff;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}
a{
    outline: none !important;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/*------Toggle navigation------*/
#toggle{
    display: none;
}
.icon{
   background:linear-gradient(45deg, #24bdcc, #24bdc9);
   display:inline-block;
   width:50px;
   height:50px;
   border-radius:50%;
   color:#fff;
   position:relative;
   cursor:pointer;
   display:none;
}
.icon .ham{
   width:25px;
   height:2px;
   background-color:#fff;
   display:block;
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   transition:0.5s all ease;
}
.icon .ham:before,.icon .ham:after{
   content:'';
   width:25px;
   height:2px;
   background-color:#fff;
   display:block;
   position:absolute;
   transition:0.5s all ease;
}
.icon .ham:before{
   top:-8px;
}
.icon .ham:after{
   top:8px;
}

/*------//Toggle navigation------*/
.main-navigation .menu{
	float: left;
    width: 80%;
}
.header_social_search_wrap{
    float: right;
    position: relative;
    line-height: 50px;
}
.main-navigation .bt-container:after{
    clear: both;
    display: block;
    content: '';
}
.main-navigation ul:after{
    content: '';
    display: block;
    clear: both
}
.main-navigation {
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #f9f9f9;
    border-bottom: 1px solid #f9f9f9;
}
.main-navigation ul{
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.menu-toggle{
    display: none;
}
.main-navigation a {
    color: #323A45;
    display: block;
    padding: 0.5em 1em;
    line-height: 50px;
    text-decoration: none;
    position: relative;
    text-transform: capitalize;
}
.main-navigation ul > li {
    margin: 0;
    padding: 0;
    float: left;
    transition: background-color 200ms ease;
    font-size: 1em;
    position: relative;
}
.main-navigation ul li:hover > .sub-menu{
  visibility: visible;
  /* shows sub-menu */
  opacity: 1;
  z-index: 1111;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
  /* this removes the transition delay so the menu will be visible while the other styles transition */
}
.main-navigation ul:after{
    content: '';
    display: block;
    clear: both;
}
.main-navigation .sub-menu{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    z-index: -1;
    box-shadow: 1px 1px 1px #ddd;
    transform: translateY(-1em);
    transition: 0.5s all ease;
}
.main-navigation .sub-menu li{
    display: block;
    float: none;
    width: 100%;
    border-bottom: 1px solid #eee;
}
.main-navigation .sub-menu li a{
    display: block;
    width: 100%;
    color: #333;
    padding: 5px 10px;
    transition: 0.5s all ease;
    text-transform: capitalize;
    background-color: #fff;
}
.main-navigation ul ul li a:after{
    display: none;
}
.main-navigation ul ul ul{
    left: 100%;
    top: 0;
}
.main-navigation .sub-menu li a:hover{
    background-color: #eee;
}
.main-navigation ul li{
    position: relative;
}
.main-navigation ul li.menu-item-has-children > a:after {
    content: '\f078';
    font-family: FontAwesome;
    display: inline-block;
    font-size: 10px;
    padding-left: 10px;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}



.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33333%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66667%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28571%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11111%;
}

.gallery-caption {
	display: block;
}


/*-------Container--------*/
*{
    box-sizing: border-box;
}
body{
    line-height: 1.5;
    color: #555;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.bt-container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.header-top:after{
    content: '';
    display: block;
    clear: both;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif !important; 
}
/*Site Branding*/
.header-top{
    display: table;
    position: relative;
    padding: 10px 0;
    width: 100%;
}
.site-branding{
    display: table-cell;
    vertical-align: middle;
}
.site-text a{
    line-height: 0;
    display: inline-block;
}
.site-text a h1{
    text-transform: uppercase;
    color: #41C3D0;
}
.site-text p{
    color: #333;
    line-height: 10px;
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-style: italic;
}
.call-to-one,.call-to-two {
    text-align: center;
    padding: 0;
}
.call-to-one p,
.call-to-two p{
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.call-to-one a,
.call-to-two a{
    font-weight: 100;
    color: #444;
}
.call-to-one i,
.call-to-two i{
    font-size: 30px;
    color: #41C3D0;
}
/*----------Logo Alignment--------------*/
/*-----Logo Center-----*/
.logo-center .header-top{
    text-align: center;
}
.logo-center .site-branding {
    text-align: center;
    vertical-align: middle;
    z-index: 11;
    display: inline-block;
}
.logo-center .call-to-one{
    float: left;
}
.logo-center .call-to-two{
    float: right;
}
/*----Logo Left-----*/
.logo-left .call-to-one{
    float: left;
}
.logo-left .call-to-two{
    float: right;
}
.logo-left .site-branding{
    width: 70%;
}


/*----------------owl Carousel-----------*/
.main-slider li{
    list-style: none;
}
.main-slider .owl-carousel .owl-stage-outer{
	width:100%;
}
.main-slider .img-holder {
	overflow: hidden;
}

.main-slider .img-holder img {
	margin: 0 auto;
}

.main-slider .slide-caption {
	position: absolute;
	top: 50%;
    left: 12%;
    transform: translate(-10%, -50%);
	-webkit-transform: translate(-10%, -50%);
	-moz-transform: translate(-10%, -50%);
	-ms-transform: translate(-10%, -50%);
	border-top: 0;
	width: 40%;
    background-color: rgba(0, 0, 0, 0.63);
    padding: 0 20px 30px 20px;
    
}
.main-slider .news-person {
	position: absolute;
	top: 0;
	right: 0;
}

.main-slider .section-heading {
	width: 90%;
}

.main-slider h2 {
	color: #ffffff;
	font-size: 44px;
	font-weight: 700;
	margin-bottom:20px;
    line-height:1.2;
    width: 100%;
}

.main-slider .slide-desc{
    color: #eee;
    width: 100%;
}





.main-slider .owl-prev,
.main-slider .owl-next,
.the-multiple-team-section .owl-prev,
.the-multiple-team-section .owl-next{
	position: absolute;
	text-shadow: 0 0 10px #93A9B3;
	margin-top: -22px;
	top: 50%;
	z-index: 10;
	cursor: pointer;
	color: #fff;
	font-size: 40px;
}

.main-slider .owl-next,
.the-multiple-team-section .owl-next {
	right: 0%;
}

.main-slider .owl-prev,
.the-multiple-team-section .owl-prev{
	left: 0%;
}
.the-multiple-team-section .owl-prev,
.the-multiple-team-section .owl-next{
	font-size: 20px;
}
.team-slider .owl-controls{
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 20px;
}
.team-slider .owl-controls .owl-dot {
    display: inline-block;
}
.team-slider .owl-controls .owl-dot.active span{
    background: none repeat scroll 0 0 #333;
}
.team-slider .owl-controls .owl-dot span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}


/* CAROUSEL-4 ENDS */

/*-----Buttons------*/

a.btn.more,.form-submit .submit{
	color: #fff;
	font-size: 18px;
    display: inline-block;
	font-weight: bold;
	padding: 14px;
	background: #41c3d0;
	border-radius: 0;
	margin: 0;
    z-index: 1;
    text-align: center;
    text-decoration: none;
    transition: 0.5s all ease;
    position: relative;
}
a.btn.more:after, .form-submit .submit:after{
    content: '';
    position: absolute;
    margin: 0 auto;
    width: 2px;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #444;
    visibility: hidden;
    transition: 0.2s all ease-in-out;
    z-index: -1;
}
a.btn.more:hover:after,.form-submit .submit:hover:after{
    content: '';
    visibility: visible;
    width: 100%;
}


/*----------Feature Section----------*/
.the-multiple-feature-section{
    /*background: -webkit-linear-gradient(#fff, #eee); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(#fff, #eee); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(#fff, #eee); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(#fff, #eee); /* Standard syntax */
    padding: 80px 0;
}
.the-multiple-feature-section .feature_the_multiple{
    width: 25%;
    display: inline-block;
    text-align: center;
    padding: 0 20px;
    vertical-align: top;
    margin-right: -5px;
    color: #333;
}
.the-multiple-feature-section.layout-2 .feature_the_multiple{
    margin-right: 0;
}
.the-multiple-feature-section .feature_the_multiple .feature-image{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    line-height: 100px;
    border: 2px solid #fff;
    overflow: hidden;
}
.feature_the_multiple .the-multiple-feature-caption .the-multiple-feature-desc{
    font-size: 18px;
    margin-bottom: 20px;
}
.feature-title a{
    color: #333;
    transition: 0.5s all ease;
    font-size: 18px;
}
.feature-title a:hover{
    color: #555;
}
.slide-desc{
    margin-bottom: 30px;
}


/*----------Service Section---------*/
.the-multiple-service-post-section{
    padding: 80px 0;
    background-size: cover;
    position: relative;
}
.the-multiple-service-post-section .post-service-wrapper{
    display: inline-block;
    vertical-align: middle;
    width: 49.5%;
    padding: 0 30px 0 0;
    z-index: 1111;
}
.the-multiple-service-post-section .wrap-law-post-right{
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 0 50px;
    width: 49.5%;
    line-height: 1.8em;
    z-index: 1111;
}
.the-multiple-service-post-section .wrap-law-post-right p{
    margin-bottom: 30px;
    font-size: 16px;
}
.wrap-law-post-right .view-more{
    background-color: transparent;
    color: #fff;
    border:2px solid #fff;
    text-align: center;
    text-transform: capitalize;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    padding: 10px 20px;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    transition: 0.5s all ease;
}
.wrap-law-post-right .view-more:hover{
    background-color: #444;
    
}
.the-multiple-service-post-section .bt-container {
    position: relative;
    z-index: 1;
}
.the-multiple-service-post-section::before{
    background: rgba(255, 255, 255, 0);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
}
.the-multiple-service-post-section::after {
    background: rgba(26, 47, 49, 0.84);
    content: "";
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    width: 50%;
}
.the-multiple-service-post-section .service-post {
    display: table;
    margin-bottom: 30px;
}
.the-multiple-service-post-section .service-post:last-child{
    margin-bottom: 0;
}
.service-post .service-title a{
    margin: 0;
    color: #333;
    padding: 0;
    font-size: 18px;
    transition: 0.5s all ease;
}
.service-post .service-title a:hover{
    color: #24bdc9;
}
.service-post .service-icon{
    display: table-cell;
    vertical-align: middle;
}
.service-post .service-icon i{
    background-color: #41C3D0;
    border-radius: 50%;
    width: 100px;
    line-height: 100px;
    text-align: center;
}
.service-post .service-icon .fa{
    font-size: 35px;
    color: #fff;
}
.service-post .service-content{
    display: table-cell;
    padding: 0 0 0 20px;
}
.service-content .service-title{
    margin-bottom: 0;
    margin-top: 0;
}

/*------------Heading---------------*/
h2.section-title{
    color: #535353;
    font-size: 40px;
    font-weight: 800;
    margin-top: 0;
    text-align: center;
    color: #41C3D0;
    text-transform: capitalize;
    margin-bottom: 50px;
    width: 100%;
}

/*---------------team-----------------*/
/*.the-multiple-team-section,
.the-multiple-book-and-app,
.the-multiple-latest-news-section,
.the-multiple-client-section,
.the-multiple-section-faq*/
section{
    padding: 80px 0;
}
.the-multiple-team-section{
    background-color: #F4F6F8;
}
.team_the_multiple .team-caption{
    text-align: center;
    padding-top: 10px;
}
.team_the_multiple .team-caption .team-caption-title{
    font-size: 16px;
    position: relative;
    margin-top: 0;
    font-weight: 600;
    color: #24bdc9;
    margin-bottom: 20px;
}
.team-caption-title span{
    color:#333;
    margin-left: 10px;
    font-style: italic;
    font-size: 14px;
}
.team-caption-title span::before{
    content: '';
    display: inline-block;
}
/*--------------Book An App-------------*/
.the-multiple-book-and-app{ 
    background-color: #444;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat-x;
    position: relative;
}
.the-multiple-book-and-app:after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.9);
    left: 0;
    top: 0;
    position: absolute;
}
.the-multiple-book-and-app .bt-container{
    position: relative;
    z-index: 1;
    display: table;
}
.the-multiple-book-and-app  .book-and-app-image{
    margin: 0;
    display: inline-block;
    width: 20%;
    vertical-align: middle;
    line-height: 0;
}
.the-multiple-book-and-app  .book-and-app-image img{
    outline: 1px solid #fff;
    outline-offset: -10px;
}
.the-multiple-book-and-app .content-wrap {
    display: inline-block;
    width: 79%;
    vertical-align: middle;
    text-align: center;
}
.the-multiple-book-and-app .content-wrap .cta-small-title{
    display: inline-block;
    width: 69%;
    vertical-align: middle;
    margin-bottom: 0;
    margin-top: 0;
    color: #fff;
    font-size: 35px;
    font-weight: 700;
}
.the-multiple-book-and-app .content-wrap .cta-link-small{
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    text-align: center;
}
/*
.the-multiple-book-and-app .the-multiple-book-and-app-image{
    width: 20%;
    border-radius: 50%;
    overflow: hidden;
    line-height: 0;
    float: left;
    width: 200px;
    height: 200px
}
.the-multiple-book-and-app-image a{
    display: block;
}
.the-multiple-book-and-app .content-wrap {
    display: table-cell;
    vertical-align: middle;
}
.content-wrap h2 {
    color: #fff;
    font-size: 30px;
    margin: 0;
    width: 69%;
    display: inline-block;
    text-align: center;
    float: left;
}
.content-wrap a{
    display: table-cell;
    width: 30%;
}
.cta-link-small{
    float: left;
}*/
/*----------Latest News-----------*/
/* latest-news1 */
.the-multiple-latest-news-section{
    background-color: #F4F6F8 
}
.the-multiple-latest-news-section .latest-single {
    background: #FFF;
    border: 1px solid #EEE;
    width: 32.33%;
    margin-right: 0.5%;
    margin-bottom: 1.5%;
    display: inline-block;
    vertical-align: top;
}
.the-multiple-latest-news-section .bt-container:after{
    content: '';
    display: block;
    clear: both;
}

.the-multiple-latest-news-section .latest-news-image {
    position: relative;
    line-height: 0;
    transition: 0.5 all ease;
    overflow: hidden;
    
}
.the-multiple-latest-news-section .latest-news-image::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
    visibility: hidden;
}
.the-multiple-latest-news-section .cat-caption:hover .latest-news-image::before {
	-webkit-animation: shine .75s;
    animation: shine .75s;
    visibility: visible;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

.the-multiple-latest-news-section .latest-news-context {
    padding: 20px;
}

.the-multiple-latest-news-section .news-heading {
    padding-bottom: 0;
}

.the-multiple-latest-news-section .news-heading a {
    font-size: 26px;
    color: #545454;
    line-height: 1.3;
    font-family: 'Raleway' sans-serif;
}

.the-multiple-latest-news-section .news-para p {
    color: #545454;
    font-size: 18px;
}

.the-multiple-latest-news-section .latest-news-context .block-poston{
    display: block;
    color: #666;
    font-size: 16px;
    margin-top: 30px;
}
.the-multiple-latest-news-section .latest-news-context .block-poston:after{
    content: '';
    clear: both;
    display: block;
}
.the-multiple-latest-news-section .latest-news-context .block-poston a{
    color: #555;
    transition: 0.5s all ease;
}
.the-multiple-latest-news-section .latest-news-context .block-poston a:hover{
    color: #24bdc9;
}
.block-poston .posted-on{
    float: left;
}
.block-poston .posted-on a::before{
    content: '\f017';
    font-family: fontAwesome;
    display: inline-block;
    margin-right: 10px;
}
.block-poston > a{
    float: right;
    position: relative;
}
.block-poston > a::before{
    content: '\f086';
    display: inline-block;
    font-family: fontAwesome;
    margin-right: 5px;
}
.the-multiple-latest-news-section .latest-news-context .block-poston i {
    color: #555;
    margin-right: 6px;
}

.latest-news-context .Readmore{
    background: #FF8000;
    border: 1px solid #FF8000;
    color: #fff;
    padding: 8px 35px;
    border-radius: 30px;
    margin: 20px 0;
    display: inline-block;
    font-size: 18px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.latest-news-context .Readmore:hover{
    color: #FF8000;
    background: #fff;
}
.latest-news-caption-title{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
    margin-top: 0;
    font-size:18px;
}
.latest-news-caption-title a{
    color: #333;
    transition: 0.5s all ease;
}
/*.the-multiple-latest-news-section .latest-news-context{
    min-height: 180px;
    overflow: hidden;
}
/*-------------The Client-----------------*/
.client_the_multiple .latest-news-image img{
    opacity: 0.7; 
    filter: grayscale(100%); 
    -webkit-filter: grayscale(100%); 
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}


.client_the_multiple .latest-news-image:hover img{
    opacity: 1;
    cursor: pointer;
    filter: brightness(100%) grayscale(0);
    -webkit-filter: brightness(100%) grayscale(0);
    -moz-filter: brightness(100%) grayscale(0);
    -o-filter: brightness(100%) grayscale(0);
    -ms-filter: brightness(100%) grayscale(0);
}


/*------------------------------
--------------counter------------*/
.the-multiple-counter{
    padding: 80px 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.the-multiple-counter::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
}
.the-multiple-counter .bt-container{
    position: relative;
    z-index: 1;
}
.col{
    width: 33.33%;
    float: left;
    text-align: center;
}
.col .number,.col .title{
    font-size: 20px;
    margin-top: 10px;
    text-transform: capitalize;
    display: block;
    color: #fff;
}
.the-multiple-counter:after{
    content: '';
    clear: both;
    display: block;
}
.col i {
    color: #3884B6;
    font-size: 45px;
}

.col p.counter-text {
    color: #333;
    font-size: 20px;
}


/* COUNTER-1 */

/* COUNTER-3 */
.the-multiple-counter .col i {
    background: none;
    color: #fff;
    font-size: 45px;
    height: 90px;
    width: 90px;
    line-height: 90px;
    -webkit-transition: .7s all ease-in-out;
    transition: .7s all ease-in-out;
}

.the-multiple-counter .col span.border-icon {
    border-radius: 50%;
    display: inline-block;
    border: 5px solid #EEE;
    width: 100px;
    height: 100px;
    line-height: 100px;
    transition: .7s all ease-in-out;
}

.the-multiple-counter .col p.number {
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 25px !important;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-align: center;
}

.the-multiple-counter .col p.counter-text {
    font-size: 18px;
}

.the-multiple-counter-wrapper:after{
    content: '';
    display: block;
    clear: both;
}
.the-multiple-counter .icon-holder {
    border: 3px solid #eee;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 10px;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
}

.the-multiple-counter .icon-holder:hover {
    border: 3px solid #2196F3;
    background-color: #2196F3;
}
/*--------About Us--------*/
.the-multiple-about-section{
    padding: 80px 0 0;
}
.the-multiple-about-section h2.section-title{
    text-align: left;
    margin-bottom: 20px;
}
.the-multiple-about-section .bt-container:after{
    content: '';
    display: block;
    clear: both;
}
.the-multiple-about-section .about-content-wrap{
    text-align: left;
    padding-bottom: 50px;
}
.the-multiple-about-section .about-content-wrap,
.the-multiple-about-section .about-img{
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}
.the-multiple-about-section .about-img{
    text-align: right;
    position: relative;
    line-height: 0;
}
.the-multiple-about-section .about-content-wrap .slide-desc{
    margin-bottom: 30px;
}
.the-multiple-about-section .about-img img{
    vertical-align: baseline;
}



/*---------------Footer-------------------*/
.site-footer {
	background: #323A45;
    padding: 80px 0 0;
}
.footer-wrap .site-footer-info ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
}

.site-footer-info ul li {
	margin-bottom: 5px;
}

.site-footer-info ul li a:hover:before,
.widget ul li:hover:before{
    margin-left: 10px;
}

.site-footer-info ul li a:before{
    content: '\f105';
    font-family: 'FontAwesome';
    color: #FFF;
    font-size: 18px;
    margin-right: 10px;
    transition: .5s all ease-in-out;
    -moz-transition: .5s all ease-in-out;
    -webkit-transition: .5s all ease-in-out;
}
.site-footer-info ul li a ,
.widget ul li a{
    color: #CCCED0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-transform: capitalize;
}
.widget_recent_entries ul li a::before{
    display: none
}
.site-footer-info .widget_recent_entries ul li{
	border-bottom: 1px solid #2E353F;
    padding-bottom: 10px;
}

.site-footer-info .widget_recent_entries ul li:last-child {
    border-bottom: 0;
}

.site-footer-info .widget_recent_entries ul li a{
    color: #CCCED0;
    font-size: 16px;
    margin: 20px 0 0 0;
    font-weight: 500;
    display: block;
    text-transform: capitalize;
    transition: 0.5s all ease;
}
.site-footer-info .widget_recent_entries ul li a:hover{
    color: #41C3D0;
}
.footer-post p.footer-post-header a{
    color: #CCCED0;
}

.site-footer-info .widget_recent_entries ul li .post-date {
    margin-top: 5px;
    font-size: 12px;
    color: #556477;
    display: block;
    font-weight: 600;
    margin-bottom: 0;
}

.site-footer-info .widget_recent_entries ul li .post-date:before {
    content: '\f017';
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 7px;
}
.site-footer-info .widget_recent_entries ul li:before{
    display: none;
}
.copyright {
    background: #2E353F;
    padding: 30px 0;
    color: #4C596A;
}
.copyright a {
    color: #DDD;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 16px;
    transition: 0.5s all ease;
}
.copyright a:hover{
    color: #41C3D0;
}
.copyright p{
    padding: 0;
    margin: 0;
    color: #999;
}
/* #footer-1 end */

.site-footer-info{
    padding-bottom: 50px;
}
.site-footer-info .widget{
    width: 25%;
    float: left;
    box-sizing: border-box;
    padding-right: 30px;
}
.tagcloud a {
  background: #2E353F;
  border-radius: 3px 0 0 3px;
  color: #CCCED0;
  display: inline-block;
    float: none !important;
    font-size: 16px !important;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  transition: 0.5s all ease;
}

.tagcloud a::before {
  background: #CCCED0;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}
.tagcloud a::after {
  background: transparent;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #2E353F;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: -10px;
  top: 0;
    transition: 0.5s all ease;
}

.tagcloud a:hover {
  background-color: #41C3D0;
  color: white;
}

.tagcloud a:hover::after {
   border-left-color: #41C3D0;
}

.site-footer-info:after{
    display: block;
    clear: both;
    content: '';
}
.site-footer-info h3 {
	color: #FFF;
    font-size: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #2E353F;
    position: relative;
}
.site-footer-info h3:after{
    content: '';
    border: 1px solid #41C3D0;
    position: absolute;
    top: 100%;
    width: 10%;
    left: 0;
}
.site-footer-info h3
.footer_btm_left{
    width: 50%;
    float: left;
    text-align: left;
}

.footer_social_icon_front_footer{
    width: 50%;
    float: right;
    text-align: right;
}
.footer_social_icon_front_footer a{
    font-size: 20px;
    color: #4D596A;
    margin-left: 10px;
    transition: 0.5s all ease;
}
.footer_social_icon_front_footer a:hover{
    color: #ddd;
}
.copyright{
    position: relative;
}
.copyright .bt-container:after{
    display: block;
    clear: both;
    content: '';
}
.footer_btm_left{
    float: left;
}
#ed-top{
    background: rgba(0, 0, 0, 0.3) none repeat scroll 0 0;
    bottom: 20px;
    color: #fff;
    display: inline-block;
    font-size: 21px;
    height: 45px;
    line-height: 45px;
    z-index: 1111;
    position: fixed;
    right: 0;
    text-align: center;
    width: 45px;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
}
.widget .widget_the_multiple_recent_posts{
    display: table;
}
.widget_the_multiple_recent_posts .recent-post-wrap {
    border-bottom: 1px solid #2e353f;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.widget_the_multiple_recent_posts .recent-post-wrap:last-child{
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.widget_the_multiple_recent_posts .image_wrap_recent{
    display: table-cell;
    width: 40%;
    padding-right: 10px;
}
.widget_the_multiple_recent_posts .recent-post-content{
    display: table-cell;
    width: 60%;
    vertical-align: top;
}
.widget_the_multiple_recent_posts .recent-post-content a.recent-post-title-widget{
    color: #fff;
    display: block;
}
.widget_the_multiple_recent_posts .recent-post-content a.recent-post-title-widget:hover{
    color: #2196F3;
}
.widget_the_multiple_recent_posts .recent-post-content .date_recent_post{
    color: #999;
    font-size: 12px;
}


/*----------Layout----------*/
body.boxed-layout{
    padding: 0 50px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px #ddd;
}
/*----------Forms---------*/
.header-search .search-form{
    background: #fff;
    z-index: 1111;
    display: none;
    position: absolute;
    width: 400px;
    padding: 15px;
    right: 0;
    border: 1px solid #ddd;
    top: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}
.header-search .fa{
    color: #323A45;
    cursor: pointer;
    line-height: 50px;
    padding: 0.5em 1em;
}
.header-search .search-form label,
.sidebar .search-form label,
.error-404-section label
.search-form label{
    display: inline-block;
    float: left;
    vertical-align: middle;
    width: 75%;
}
.header-search input.search-field,
.sidebar input.search-field,
.error-404-section input.search-field,
input.search-field{
    box-sizing: border-box;
    height: 40px;
    vertical-align: middle;
    width: 100%;
    border-radius: 0;
    padding-left: 10px;
}
.header-search .search-submit,
.sidebar .search-submit,
.error-404-section .search-submit,
.search-form .search-submit{
    background: #41C3D0 none repeat scroll 0 0;
    border-radius: 0;
    box-shadow: none;
    border: none;
    color: #fff;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 5px;
    text-align: center;
    width: 25%;
    text-shadow: none;
    vertical-align: middle;
    transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
}
.header-search .search-field:focus,
input.search-field:focus{
    background-color: #eee;
    box-shadow: none;
    outline: none;
    border-radius: 0;
    transition: 0.5s all ease;
}

/*----------------Sidebar Position-----------------------*/
.sidebar-right .site-main article.post,.sidebar-right .site-main article.page,
.sidebar-left .site-main article.post,.sidebar-left .site-main article.page,
.sidebar-no .site-main article.post,.sidebar-no .site-main article.page,
.sidebar-both .site-main article.post,.sidebar-both .site-main article.page {
    text-align: left;
}
.content-area .entry-header .entry-title{
    font-size: 20px;
    color: #24bdc9;
}
.content-area .entry-content h2{
    font-size: 16px;
}
/*-------Sidebar both---------*/
.no-margin #primary,.no-margin #secondary-left,.no-margin #secondary-right {
    margin-top: 0;
}
#primary, #secondary-left, #secondary-right {
    margin:50px 0;
}
#secondary-left {
    width: 25%;
    float: left;
}
#primary.sidebar-both {
    width: 50%;
    float: left;
    padding-right: 2%;
    padding-left: 2%;
}
#secondary-right {
    width: 25%;
    float: right;
}
.bt-container:before,.bt-container:after{
    content: '';
    display: block;
    clear: both;
}
/*------Sidebar-left----------*/
#primary.sidebar-left {
    float: right;
    width: 75%;
    padding-left: 3%;
}
/*-------Sidebar-right---------*/
#primary.sidebar-right {
    width: 75%;
    padding-right: 3%;
    float: left;
}
/*---------No sidebar----------*/
/*---Widget----*/
.sidebar .widget {
    background-color: #f9f9f9;
    border: 1px solid #eee;
    border-top: none;
    /* margin-left: 10px; */
    /* padding: 0 0 20px 10px; */
    margin-left: 5px;
}
h2.widget-title:before {
    content: '';
    position: absolute;
    width: 5px;
    left: -5px;
    top: 0;
    height: 100%;
    background-color: #41C3D1;
}
.sidebar .widget .widget-title {
    padding: 10px 20px;
    text-align: left;
    margin: 0;
    background-color: #41C3D1;
    color: #fff;
    font-size: 18px;
    text-transform: capitalize;
    /* margin-bottom: 20px; */
    position: relative;
    /* margin-left: -20px; */
}
.sidebar .widget .widget-title:after{
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    bottom: -10px;
    z-index: 111;
    border-bottom: 15px solid #333;
    border-top: 15px solid transparent;
}

.sidebar .widget ul li a {
    color: #2E353F;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 500;
    text-transform: capitalize;
    transition: 0.5s all ease-in-out;
}
.sidebar .widget ul li a:hover{
    color: #41C3D0;
}
.sidebar .widget ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.sidebar .widget ul li:last-child{
    border-bottom: none;
}
.sidebar .search-form{
    display: block;
    position: inherit;
    box-shadow: none;
    background-color: #f9f9f9;
    border: none;
}
.sidebar .widget_search{
    border: none;
    background: transparent;
}
.sidebar .widget_search{
    margin-left: 0;
    padding: 0;
}
.widget-area ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar .widget .tagcloud {
    padding: 15px 0 0 15px;
}
#wp-calendar caption{
    background-color: #ddd;
    padding: 5px;
    border: 1px solid #eee;
    margin-bottom: 10px;
}
#wp-calendar td{
    text-align: center;
    border: 1px solid #ddd;
}
#wp-calendar tfoot a{
    background-color: #24bdc9;
    color: #fff;
    text-align: center;
    display: block;
    width: 100%;
}
.widget-area select{
    background-color: #323A45;
    border: none;
    box-shadow: none;
    width: 100%;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    text-transform: capitalize;
    outline: none;
}
.widget-area select option{
    background-color: #fff;
    color: #333;
    padding: 10px;
    border: none;
}
/*-------------Content Area---------------*/
.page-header .page-title{
    font-size: 20px;
    background-color: #fdfdfd;
    margin: 0;
    color: #333;
    padding: 10px 0 10px 20px;
    background-color: #eee;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.entry-header .entry-title a{
    color: #333;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}
.entry-header .entry-meta{
    font-size: 13px;
    font-style: italic;
    color: #999;
}
.entry-header .entry-meta a{
    color: #41C3D0;
}
.entry-header .entry-meta a:hover{
    text-decoration: underline;
}
.post,
.page{
    border: 1px solid #eee;
    padding: 10px;
    background-color: #f9f9f9;
}
.site-main .post a,
.site-main .page a{
    color: #41C3D0;
    display: inline-block;
}
.article.post,
.article.page{
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    vertical-align: top;
}
.site-main .category-slider{
    width: 100%;
    margin-right: 0;
    float: none;
}
.category .site-main article.post,
.category .site-main article.page{
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
    width: 49%;
}
.category .site-main article.post:nth-child(2n+1){
    margin-right: 0;
}
.site-main article.post figure{
    margin-top: 0;
}
.navigation{
    margin-top: 50px;
}

.nav-links .nav-previous a,.nav-links .nav-next a{
    display: inline-block;
    color: #fff;
    background-color: #2E353F;
    padding: 5px 15px;
    text-align: center;
    position: relative;
    text-transform: capitalize;
    transition: 0.5s all ease;
}
.nav-links .nav-previous{
    float: left;
}
.nav-links .nav-next{
    float: right;
}
.nav-links::after{
    content: '';
    display: block;
    clear: both;
}
.navigation{
    margin: 50px 0;
}
.nav-links .nav-previous a:before{
    content: '\f104';
    font-family: fontAwesome;
    font-size: 18px;
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    transition: 0.5s all ease;
}
.nav-links .nav-next a:after{
    content: '\f105';
    font-family: fontAwesome;
    font-size: 18px;
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    transition: 0.5s all ease;
}
.nav-links .nav-next a:hover:after{
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px);
    opacity: 1;
    visibility: visible;
    padding-left: 5px;
}
.nav-links .nav-previous a:hover:before{
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px);
    opacity: 1;
    visibility: visible;
    padding-right: 5px;
}
/*-----search results-------*/
.search-results .site-main article.post,
.search-results .site-main article.page{
    text-align: left;
}
.entry-footer span{
    margin-right: 20px;
}
/*------Single Post-------*/
.single-post .site-main article.post,
.single-post .site-main article.page{
    text-align: left;
}
/*.single-post .site-main article.post figure,
.single-post .site-main article.page figure{
    text-align: center;
}*/
.single-post .entry-title{
    font-size: 20px;
    text-transform: uppercase;
    color: #24bdcc;
}
/*------------404 Page Not Found------------*/
.not-found{
    padding: 80px 0;
    text-align: center;
}
.page-content{
    background-color: #fff;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 20px;
    margin-top: 0
}
.error-404-title{
    font-size: 50px;
    display: block;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-transform: uppercase;
    padding: 20px;
    color: #fff;
    width: 350px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: #41C3D0;
}
.page-content p{
    margin-top: 20px;
}
.no-results{
    padding: 0;
}
/*----------------Comments Area---------------------*/
.comments-area{
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #eee;
}
.comments-area a{
    color: #41C3D0;
    margin-right: 20px;
}
.comments-area .comment-reply-title{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.comment-notes #email-notes{
    font-style: italic;
    font-weight: bold;
}
.required{
    font-size: 20px;
    color: red;
    line-height: 0;
}
.comment-form label{
    display: block;
    background-color: #ddd;
    padding: 10px 0 10px 10px;
    height: 50px;
    color: #666;
}
.comments-area input,.comments-area textarea{
    width: 100%;
    display: block;
    outline: none;
    border-radius: 0;
    resize: none;
    color: #999;
}
.comment-form-author,.comment-form-email,.comment-form-url{
    float: left;
    margin-right: 1.5%;
    width: 32.33%;
}
.comment-form-url{
    margin-right: 0;
}
.comment-form-author input,.comment-form-email input,.comment-form-url input{
    height: 50px;
    padding: 10px;
    color: #999;
}
/*----Comments list------*/
.comments-title{
    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 50px;
}
.comment-list{
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 100px;
}
.comment-body{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.comment-list .children{
    margin: 0;
}
.comment-author{
    display: table;
    margin-bottom: 20px;
}
.comment-author .avatar{
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}
.comment-author .fn,.comment-author .fn a{
    display: inline-block;
    vertical-align: middle;
    text-transform: capitalize;
    color: #666;
    margin-right: 10px;
}
.comment-author .says{
    color: #999;
    font-size: 13px;
}

.comment-metadata a{
    color: #999;
    font-size: 13px;
    font-style: italic;
}
.comment-metadata .edit-link{
    float: right;
}
.comment-reply-link{
    font-size: 14px;
}

.form-submit input.submit{
    border: none;
}
.form-submit input.submit:hover{
    opacity: 0.7;
}


/*-----------No Results-------------*/
.page-content .search-form input.search-field{
    margin-bottom: 30px;
}




/*------------------Faq Section----------------------*/
.the-multiple-section-faq{
    position: relative
}
.left-side{
    position: relative;
    padding-right: 40px;
}
.the-multiple-section-faq:before {
    content: '';
    position: absolute;
    outline: 1px solid #fff;
    outline-offset: -10px;
    width: 50%;
    height: 100%;
    background-color: #323A45;
    left: 0;
    top: 0;
}
.left-side h2{
    font-size: 30px;
    color: #fff;
    margin-top: 0;
}
.left-side p{
    color: #fff;
}
.right-side{
    padding-left: 20px;
}
.right-side h2{
    font-size: 40px;
    text-transform: capitalize;
    color: #41c3d0;
    margin-top: 0;
}
.the-multiple-section-faq .left-side {
    width: 50%;
    float: left;
    padding: 0 80px 0 0;
    color: #fff;
}
.the-multiple-section-faq .right-side {
    width: 50%;
    display: inline-block;
    float: left;
    vertical-align: top;
}
.accordion {
    width: 100%;
    margin: 0;
    list-style: none;
    border-top: 1px solid #d9e5e8;
    padding: 0;
  }
  .accordion li {
    position: relative;
    margin-bottom: 10px;
  }
  .accordion li p {
    padding: 10px;
    color: #333;
  }
  .accordion a {
    width: 100%;
    padding: 10px;
    display: block;
    background-color: #fff;
    color:#333;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    user-select: none;
  }
  .accordion a:after {
    width: 8px;
    height: 8px;
    border-right: 1px solid #4a6e78;
    border-bottom: 1px solid #4a6e78;
    position: absolute;
    right: 10px;
    content: " ";
    top: 17px;
    transform: rotate(-45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .accordion p {
    font-size: 13px;
    padding: 10px;
    display: none;
  }
  
  a.active:after {
    transform: rotate(45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  


/*-------------Testimonial-------------*/
.layout-1 .testimonial-single  {
    width: 70%;
    margin: 0 auto;
}
.layout-1 .testimonial-context{
    margin-bottom: 30px;
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    position: relative;
}
.layout-1 .testimonial-context .testimonial-caption-title{
    margin-top: 0;
    font-size: 20px;
}
.layout-1 .testimonial-context .testimonial-caption-title span{
    margin-left: 10px;
    color:#999;
    font-size: 16px;
    font-style: italic;
}
.layout-1 .testimonial-context:after{
    content: '';
    position: absolute;
    border-top: 20px solid #eee;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    top: 100%;
    width: 20px;
    right: 0;
    left: 0;
    margin:  0 auto;
}
.layout-1 .testimonial-image{
    width:100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}
.testimonial-image img{
    width: 100px;
    height: 100px;
}
/**---------------Blog Section----------------*/
.the-multiple-blog-section .section-title{
    color:#fff;
}
.the-multiple-blog-section{
    background-size: cover;
    background-repeat: repeat-x;
    position: relative;
}
.the-multiple-blog-section::after{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.71);
    left: 0;
    top: 0;
}
.the-multiple-blog-section .bt-container{
    position: relative;
    z-index: 1;
}
.the-multiple-blog-section.layout-1 .blog-section-image{
    line-height: 0;
}
.the-multiple-blog-section.layout-1 .blog-section-wrap{
    font-size: 0;
}
.the-multiple-blog-section.layout-1 .blog-single{
    width: 24.25%;
    display: inline-block;
    margin-right: 1%;
    margin-bottom: 1%;
    font-size: 16px;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    transition: 0.5s all ease;
}
.the-multiple-blog-section.layout-1 .blog-single:nth-child(4n+4){
    margin-right: 0;
}
.layout-1 .blog-context{
    background-color: #fff;
    border-bottom: 3px solid #1c8d98;
    padding: 20px 10px 10px 10px;
    position: relative;
    z-index: 11;
    min-height: 235px;
}
.layout-1 .blog-context::before,
.layout-1 .blog-context::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    left: 0;
    transform-origin: right bottom;
    -webkit-transform: skewY(5deg);
    -moz-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    transform: skewY(5deg);
    bottom: 0;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    transition: 0.5s all ease;
}
.layout-1 .blog-context::after{
    transform-origin: left bottom;
    -webkit-transform: skewY(-5deg);
    -moz-transform: skewY(-5deg);
    -ms-transform: skewY(-5deg);
    transform: skewY(-5deg);
}

.blog-single:hover .blog-context::after,
.blog-single:hover .blog-context::before{
    transform: skewY(0);
}
.blog-single:hover{
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}
.block-poston:after{
    content: '';
    display: block;
    clear:both;
}
/*span.posted-on {
    line-height: 1.2;
}*/
.layout-1 .blog-context .block-poston a{
    font-size: 12px;
    color:#999;
}
.layout-1 .blog-context .block-poston a:hover{
    color: #0E949F;
}
.layout-1 .blog-context .blog-caption-title{
    margin: 0 0 10px;
}
.layout-1 .blog-context .blog-caption-title a{
    font-size: 16px;
    color:#555;
}
.layout-1 .blog-context .blog-caption-title a:hover{
    color: #0E949F;
}
.layout-1 .blog-context .blog-desc{
    margin-bottom: 20px;
}
.layout-1 .blog-context a.btn.more{
    padding: 10px;
    font-size: 16px;
    position: relative;
}
/*----------Blog Section Layout 2----------*/
.the-multiple-blog-section.layout-2 .blog-single{
    width: 24.25%;
    display: inline-block;
    float: left;
    margin-right: 1%;
    vertical-align: top;
    overflow: hidden;
    position: relative;
    transition: 0.5s all ease;
}
.the-multiple-blog-section.layout-2 .blog-single:nth-child(4n+4){
    margin-right: 0;
}
.the-multiple-blog-section.layout-2 .blog-section-image{
    line-height: 0;
}
.the-multiple-blog-section.layout-2 .blog-context{
    background-color: #fff;
    min-height: 170px;
}
.the-multiple-blog-section.layout-2 .block-poston{
    background-color: #eee;
    border-bottom: 1px solid #ddd;
}
.the-multiple-blog-section.layout-2 .block-poston a{
    color: #888;
    padding: 5px;
    font-size: 12px;
    display: block;
}
.the-multiple-blog-section.layout-2 .block-poston a:hover{
    color: #067B85;
}
.the-multiple-blog-section.layout-2 .blog-caption-title{
    margin: 0 0 10px 0;
    padding: 0 10px;
}
.the-multiple-blog-section.layout-2 .blog-desc{
    padding: 0 10px;
}
.the-multiple-blog-section.layout-2 .blog-caption-title a{
    color: #444;
    font-size: 16px;
}
.the-multiple-blog-section.layout-2 .blog-caption-title a:hover{
    color: #067B85;
}
/*-----------Bread Crumbs-------------*/
.header-banner{
    padding: 80px 0;
    text-align: center;
    position: relative;
    z-index: 11;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header-banner .banner-title{
    position: relative;
    z-index: 1;
}
.header-banner .page-title{
    color: #fff;
    background-color: transparent;
}
.header-banner::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    background: rgba(17, 17, 17, 0.78);
}
.the-multiple-breadcrumb{
    color: #fff;
    text-transform: uppercase;
}
.the-multiple-breadcrumb a{
    color: #24bdc9;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}
.the-multiple-breadcrumb a:first-child::before{
    content: '\f015';
    display: inline-block;
    margin-right: 10px;
    font-family: 'fontAwesome';
    font-size: 16px;
    color:inherit;
}
.widget{
    padding: 0;
}


/*--------------Contact Us-----------------*/
.the-multiple-contact-us-section{
    background-color: #eee;
    background-size: cover;
    text-align: center;
    position: relative;
}
.the-multiple-contact-us-section .bt-container{
    z-index: 1;
    position: relative;
}
.the-multiple-contact-us-section:after{
    content:'';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:#000;
}
.the-multiple-contact-us-section h2.section-title{
    margin-bottom: 20px;
    color: #fff;
}
.the-multiple-contact-us-section .contact-us-post-post{
    color: #fff;
}
.the-multiple-contact-us-section .contact-us-post-post{
    margin-bottom: 30px;
    text-align: center;
}
.the-multiple-mail-link .btn{
    display: inline-block;
    padding: 14px;
    text-align: center;
    margin-right: 10px;
    background-color: #2196f3;
    color: #333;
    text-decoration: none;
    position: relative;
    z-index: 1;
    transition: 0.5s all ease;
}
.the-multiple-mail-link .btn:after,
.the-multiple-mail-link .btn.btn-alter:after{
    content: '';
    position: absolute;
    margin:0 auto;
    left: 0;
    right: 0;
    z-index: -1;
    top: 0;
    width: 2px;
    height: 100%;
    visibility: hidden;
    color: #333;
    background-color: #fff;
    transition: 0.2s all ease;
}
.the-multiple-mail-link .btn:hover:after{
    width: 100%;
    visibility: visible;
}
.the-multiple-mail-link .btn.btn-alter{
    background-color: #fff;
    color: #333;
}
.the-multiple-mail-link .btn.btn-alter:hover:after{
    visibility: visible;
    width: 100%;
}




/*-----------Slider Layout 2--------------*/
.main-slider .caption-center{
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
}




/*-----------------feature section layout 2-------------*/
.the-multiple-feature-section.layout-2{
    padding: 0;
}
.the-multiple-feature-section.layout-2 .bt-container{
    max-width: 100%;
    padding: 0;
}
.layout-2 .feature_the_multiple{
    padding: 0;
    width: 25%;
    display: table-cell;
    padding: 20px 10px;
    font-size: 16px;
    color: #333;
    box-shadow: 1px 1px 2px #ddd;
}
/*.layout-2 .feature_the_multiple:nth-child(4){
    background-color: #067B85;
}
.layout-2 .feature_the_multiple:nth-child(3){
    background-color: #0E949F;
}
.layout-2 .feature_the_multiple:nth-child(2){
    background-color: #17AAB6;
}
.layout-2 .feature_the_multiple:nth-child(1){
    background-color: #24bdc9;
}*/
.layout-2 .feature-image{
    line-height: 0;
    position: relative;
}
.layout-2 .feature-image::after{
    content: '';
    display: block;
    width: 50px;
    height: 5px;
    background-color: #fff;
}
/*.layout-2 .feature-title a{
    color: #fff;
}
.layout-2 .feature-title a:hover{
    color: #333;
}*/


/*-----------------feature section layout 3-------------*/
.the-multiple-feature-section.layout-3{
    background-color: #eee;
}
.layout-3 .feature_the_multiple{
    padding: 0;
    width: 48%;
    margin-right: 4%;
    margin-bottom: 4%;
    float: left;
    font-size: 16px;
}

.layout-3 .feature_the_multiple:nth-child(even){
    margin-right: 0;
}
.layout-3 .feature_the_multiple{
    border:  1px 1px 1px #999;
}
.layout-3 .feature_the_multiple .feature-image{
    display: table-cell;
    width: 30%;
    height: auto;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    border-radius: 0%;
    line-height: 0;
    border: none;
    overflow: hidden;
    position: relative;
    vertical-align: top;
}
.layout-3 .feature_the_multiple .feature-image img{
    line-height: 0;
}
.layout-3 .feature_the_multiple .the-multiple-feature-caption{
    display: table-cell;
    text-align: left;
    background-color: #fff;
    padding: 10px;
    vertical-align: middle;
}
.layout-3 .feature-title{
    margin: 0 0 10px 0;
    font-size: 20px;
}
.layout-3 .the-multiple-feature-desc{
    margin-bottom: 10px !important;
}
.layout-3  a.btn.more{
    text-align: left;
    background-color: transparent;
    color: #1c8d98;
    display: block;
    font-size: 16px;
    padding:0;
    font-weight: normal;
}

.layout-3  a.btn.more::after{
    display: none;
}
.layout-3  a.btn.more::before{
    content: '\f0a4';
    color: inherit;
    font-family: fontAwesome;
    display: inline-block;
    margin-right: 10px;
}
.layout-3  a.btn.more:hover{
    color: #333;
}




/*-------Layout 2 about Section------
----------------------------------*/
.the-multiple-about-section.layout-2{
    padding: 80px 0;
    text-align: center !important;
}
.the-multiple-about-section.layout-2 .about-content-wrap{
    display: block;
    text-align: center;
    width: 100%;
    padding-bottom: 0;
}
.the-multiple-about-section.layout-2 .about-content-wrap .section-title{
    text-align: center;
}



/*-------------Layout 2 Team-------------------*/
.the-multiple-team-section.layout-2 .bt-container{
    font-size: 0;
}
.the-multiple-team-section.layout-2 .team-slide{
    width: 25%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10px;
    padding: 0 5px;
    font-size: 14px;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    transition: 0.5s all ease;
}
.the-multiple-team-section.layout-2 .team-slide:hover{
    -webkit-transform: translatey(-5px);
    -moz-transform: translatey(-5px);
    -ms-transform: translatey(-5px);
    transform: translatey(-5px);
}
.the-multiple-team-section.layout-2 .team-image{
    line-height: 0;
}
.the-multiple-team-section.layout-2 .team_the_multiple .team-caption{
    padding: 0 10px 20px 10px;
    background-color: #fff;
}
.the-multiple-team-section.layout-2 .team-caption-title {
    width: 85%;
    transform: translateY(-30px);
    margin: 0 auto;
    background-color: #24bdc9;
    outline: 1px solid #fff;
    outline-offset: -5px;
    padding: 10px;
    color: #555 !important;
    margin-bottom: 0 !important;

}
.the-multiple-team-section.layout-2 .team-caption-title span{
    color:#fff;
    font-size: 12px;
    display: block;
    text-align: center;
    margin: 0;
    font-style: normal;
}
.the-multiple-team-section.layout-2 .team-caption-title span::before,
.the-multiple-team-section.layout-2 .team-caption-title span::after{
    content: '\f100';
    display: inline-block;
    margin: 0 10px 0 0;
    font-family: fontAwesome;
}
.the-multiple-team-section.layout-2 .team-caption-title span::after{
    content: '\f101';
    margin: 0 0 0 10px;
}


/*-------------Testimonials------------*/
.the-multiple-testimonial-section.layout-2 .section-title{
    color: #fff;
}
.the-multiple-testimonial-section.layout-2{
    background-color: #eee;
}
.the-multiple-testimonial-section.layout-2 .bt-container{
    font-size: 0;
}
.layout-2 .testimonial-single{
    width: 24.20%;
    display: inline-block;
    margin: 0 1% 1% 0;
    min-height: 340px;
    text-align: center;
    vertical-align: top;
    background-color: #fff;
    transition: 0.5s all ease;
}
.the-multiple-testimonial-section.layout-2 .bt-container div:nth-of-type(4n+4){
    margin:  0 0% 1% 0;
}
.layout-2 .testimonial-single:hover{
    box-shadow: 1px 1px 1px #999;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}
.layout-2 .testimonial-image{
    line-height: 0;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}
.layout-2 .testimonial-context{
    padding: 20px 10px;
    font-size: 14px;
}
.layout-2 .testimonial-caption-title{
    font-size: 16px;
    color: #24bdc9;
    margin-top:0;
}
.layout-2 .testimonial-caption-title span{
    color: #555;
    font-size: 16px;
    font-weight: normal;
    margin-left: 10px;
}
.layout-2 .testimonial-caption-title span:before{
    content: '/';
    display: inline-block;
    margin-right: 10px;
    color: inherit;
}
.layout-2 .testimonial-caption-title::before{
    content: '\f10d';
    display: block;
    font-size: 25px;
    text-align: center;
    color:#24bdc9;
    margin-bottom: 20px;
    font-family: 'fontAwesome';
}


/*--------------------main navigation layout 2----------------------- */

.layout-2 .main-navigation {
    width: 100%;
    position: absolute;
    z-index: 1111;
    background-color: transparent;
    border: none;
    transform: translateY(-30px);
}
.layout-2 .header-top{
    padding-bottom: 50px;
}
.layout-2 .main-navigation .bt-container{
    background-color: #323A45;
}
.layout-2 .main-navigation a{
    color:#fff;
}
.layout-2 .header-search .fa{
    color:#fff;
}

/*-------------Layout 3 Navigation--------------*/
.site-header.layout-3{
    line-height: 0;
    padding: 5px 0;
    top: 0;
    position: inherit;
    z-index: 111;
    width: 100%;
    background-color:rgba(0, 0, 0, 1)
}
.site-header.layout-3 > .bt-container{
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    margin-right: -5px;
}
.layout-3 .main-navigation{
    width: 70%;
    display: inline-block;
    border: none;
    vertical-align: middle;
    background-color: transparent;
}
.layout-3 .main-navigation .bt-container {
    max-width: 100%;
    text-align: right;
    display: table;
}
.layout-3 .main-navigation .bt-container div:first-of-type{
    width: 95%;
    display: table-cell;
    vertical-align: middle;
}
.layout-3 .main-navigation a{
    color:#fff;
    text-align: left;
}
.layout-3 .main-navigation .menu{
    float: none;
}
.layout-3 .main-navigation .menu{
    width: 100%;
}

.layout-3 .header_social_search_wrap{
    float: none;
    display: table-cell;
    vertical-align: middle;
}
.layout-3 .header-search .fa{
    color:#fff;
}
.layout-3 .site-text p{
    color:#fff;
}
.layout-3 .header-top{
    padding-top: 0;
}


.fixed {
    position: fixed;
    top:0; 
    left:0;
    width: 100%; 
    z-index: 111;
    transition: 0.5s all ease-in-out;
}

